In [1]:
import pandas as pd
from toolbox import Fuzzy

In [2]:
def verifica_classe(altura):
    if altura < 1.50:
        return '100% baixo'
    elif altura > 1.50 and altura <= 1.75:
        return str(Fuzzy.percent(1.50, 1.75, 1, 0, altura) * 100) + '% baixo'
    elif altura > 1.75 and altura <= 2.0:
        return str(Fuzzy.percent(1.75, 2.0, 1, 0, altura) * 100) + '% médio' 
    elif altura > 2.0:
        return '100% alto'

### Verificando valor

In [3]:
altura = float(input('Insira sua altura: '))

print('Você é ' + str(verifica_classe(altura)))

Insira sua altura: 18
Você é 100% alto

### Verificação automática de alturas

In [5]:
df = pd.read_csv('baseAltura.txt', '\n')

In [6]:
for i in range(0, len(df)):
    altura = df.loc[i]
    print('Porcentagem: ' + )

     1.4077806843663845
0              1.426548
1              1.563323
2              1.611349
3              1.000000
4              1.000000
5              1.000000
6              1.000000
7              1.000000
8              1.617933
9              1.914710
10             1.331904
11             1.406247
12             1.876140
13             1.000000
14             1.924002
15             1.618035
16             1.000000
17             1.000000
18             1.836158
19             1.000000
20             1.000000
21             1.980011
22             1.000000
23             1.000000
24             1.299717
25             1.000000
26             1.888416
27             1.249218
28             1.000000
29             1.610239
..                  ...
469            1.000000
470            1.592990
471            1.028431
472            1.868179
473            1.000000
474            1.000000
475            1.000000
476            1.234911
477            1.280988
478            1.112818
479            1.698456
480            1.000000
481            1.000000
482            1.493169
483            1.000000
484            1.352615
485            1.000000
486            1.964515
487            1.000000
488            1.344819
489            1.000000
490            1.000000
491            1.998866
492            1.000000
493            1.000000
494            1.371737
495            1.419729
496            1.203399
497            1.000000
498            1.320709

[499 rows x 1 columns]